* text=auto eol=lf

*.cs text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.sln text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.xml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.gz binary
*.exe binary
*.dll binary
